/*
Color Scheme

https://webgradients.com/?ref=sidebar
054 Grown Early (Background)
053 Soft Grass (Screen)

http://paletton.com/#uid=53O0u0khwx77BREcRH-lwsrq8oG
Base: 5677AC 3 Adjacent Colors
 
Base Blue: 5677AC
Blue Tint 2: B4C7E6;
Blue Tint 1: 809DCB
Blue Shades 1: 3A5E96;
Blue Shades 2: 214783;
Mint: 4AA596;
Mint Tint 2: ADE4DB;
Mint Shade 2: 167D6C
Purple Shade 1: 50409D
Purple Tint 2: BFB7E8
*/ 
html, .root {
  font-size: 24px;
  line-height: 31px;
}
/* Color Combos */
button.steel {
    background-color: #596a84;
    color: #B4C7E6;
}
div.steel {
    background-color: #596a84;
    color: #B4C7E6;
}
/* Header */
#main_heading { /* The main header text */
    font-family: 'Architects Daughter', cursive;
    font-size: 6.83333333em;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 0;
    color: #ADE4DB; /* Mint Tint 2*/
}
/* main body */
html body {
    background-color: #0ba360;
}
#main_body{
    height: 100vh; /* 5/6 of total height */
    width: 100vw;
    position: absolute;
    background-color: #0ba360;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); /* 054 Grown Early */
}
/* Calculator */
#calc_body {
    background-color: #28303d; 
    height: 66.7vh;
    width: 40vw;
    max-width: 500px; /* **So that it doesn't look fat in a wide screen*/
    margin: 4vh auto;
    position: relative;
    text-align: center; /* **Centered buttons nicely */
    border-radius: 25px;
}
/* Display */
#display_section{
    height: 20%;
    width: 100%;
    position: relative;
    padding-top: 5%; /** *Creates calculator's top spacing/margin */
}
#display{
    height: 60%;
    width: 90%;
    background-color: #c1dfc4;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); /* 053 Soft Grass */
    margin: auto;
    font-size: 2.2em;
    color: #28303d;
    line-height: 150%; /* Height of numbers displayed */
}
#display_equation_log{
    height: 20%;
    width: 90%;
    margin: auto;
}
/* Complete History */
.dropdown{
    height: 10%;
}
body .dropdown-menu>li>a:hover {
    background-color: transparent;
}
.dropdown #history_button {
    height: 80%;
    width: 90%;
    font-size: 1.625em;
    font-weight: 700;
    line-height: 0;
    border-radius: 5px;
    border-color: transparent;
    padding: 0 22.5% 0 23.5%;
    margin-bottom: 3%;
}
.dropdown #history_button:active { /* **The pressed button effect */ /* Keep same a steel color scheme. Bootstrap issue */
    transform: translateY(0px);
    background-color: #596a84;
    color: #B4C7E6;
}
.dropdown #history_button:hover { /* Keep same a steel color scheme. Bootstrap issue */
    background-color: #596a84;
    color: #B4C7E6;
}
.dropdown #history_button:focus { /* Keep same a steel color scheme. Bootstrap issue */
    background-color: #596a84;
    color: #B4C7E6;
}
#calc_body .dropdown-menu{ /* ** Set  the Complete History drop down placement */
    left: 34%;
    background-color: #C8D7E2;
}
/* Buttons */
body button {
    line-height: 0;
}
#calc_body button{
    font-family: 'Roboto', sans-serif;
    font-size: 2.625em;
    font-weight: 700;
    border-radius: 5px;
}
#calc_body button:active { /* **The pressed button effect */
    transform: translateY(3px);
}
/* Clear Buttons */
#clear_buttons{
    height: 10%;
    width: 73%;
    position: relative;
    display: inline-block;
}
#clear_buttons button{
    height: 90%;
    width: 43%;
    background-color: #3A5E96; /* Blue Shades
    1 */
    color: #B4C7E6; /* Blue Tint 2*/
    border-color: transparent;
}
#clear_buttons #last_clear{
    margin-left: 3%; /** *Creates space between the clear buttons */
}
/* Operator_buttons */
#operator_buttons{
    height: 70%;
    width: 24%;
    position: relative;
    float: right;
    /*clear: left;*/ /* To clear the clear_buttons */
    display: inline-block;
}
#operator_buttons button{
    height: 17.5%;
    width: 79%;
    margin: 2% 20% 2% 0; /** *Creates space between the buttons and calculator */
    background-color: #50409D; /* Purple Shade 1 */
    color: #BFB7E8; /* Purple Tint 2 */
    border-color: transparent;
}
#operator_buttons #addition_symbol{
    height: 35%; /* **Too make it bigger than the rest of the operator buttons */
}
/* Numbers, decimal, equals buttons */
#num_decimal_equals_button{
    height: 55%;
    width: 75%;
    position: relative;
    margin-top: 1%;
}
#num_decimal_equals_button button{
    height: 22%;
    width: 27%;
    border-color: transparent;
    margin: 1%; /** *Space between the buttons*/
}
#footer div p a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.625em;
    color: #ADE4DB; /* Mint Tint 2*/
}
#footer div p {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
}
#footer div {
    text-align: center;
}
#footer #my_website {
    font-family: 'Architects Daughter', cursive;
}