/*
Project Name: Calculator version 1.0
File Name: style.css
Author: Lance Takiguchi
Date: 09/02/2016 Time: 10:41
Objective: Create a basic styling for the basic skeleton.
Prompt: https://github.com/Learning-Fuze/calculator/tree/v1.0#getting-started
*/
/* Color Choice 02. https://designschool.canva.com/blog/100-color-combinations/ */

/* Header */
header{
    background-color: #336B87; /* color: stone */
    height: 16.7vh; /* 1/6 of the total height */
    padding-top: 5vh; /* Cover the white showing on top the header */
}
header h1{ /* The main header text */
    font-size:650%;
    text-align: center;
    margin-top: auto;
    color: #C8D7E2; /* mist 50% tint*/
}
/* main body */
#main_body{
    background-color: #90AFC5; /* color: mist */
    height: 83.3vh; /* 5/6 of total height */
    width: 100vw;
    position: absolute;
}
/* Calculator */
/* here the rules for windows between 500px and 900px */

#calc_body {
    background-color: #336B87; /* color: stone */
    height: 66.7vh;
    width: 40vw;
    max-width: 500px; /* **So that it doesn't look fat in a wide screen*/
    margin: 8.3vh auto;
    position: relative;
    text-align: center; /* **Centered buttons nicely */
    border-radius: 25px;
}

/* here the rules for small windows */
@media (max-width: 500px) {
    #calc_body{
        background-color: #336B87; /* color: stone */
        height: 66.7vh;
        width: 90vw;
        margin: 8.3vh auto;
        position: relative;
        text-align: center; /* **Centered buttons nicely */
        border-radius: 25px;
    }
}
@media (min-width: 500px) and (max-width: 1000px) {
    #calc_body{
        background-color: #336B87; /* color: stone */
        height: 66.7vh;
        width: 80vw;
        margin: 8.3vh auto;
        position: relative;
        text-align: center; /* **Centered buttons nicely */
        border-radius: 25px;
    }
}

/* Display */
#display_section{
    height: 25%;
    width: 100%;
    position: relative;
    padding-top: 5%; /** *Creates calculator's top spacing/margin */
}
#display{
    height: 60%;
    width: 90%;
    background-color: #C8D7E2; /* mist 50% tint*/
    margin: auto;
    font-size: 250%;
    /*TODO: Make text show on bottom*/
}
#display_equation_log{
    height: 20%;
    width: 90%;
    margin: auto;
    background-color: #90AFC5; /* mist */
}
/* Buttons */
#calc_body button{
    font-size: 430%;
    font-weight: 700;
    border-radius: 5px;
}
#calc_body button:active {
    transform: translateY(3px);
}
/* Clear Buttons */
#clear_buttons{
    font-size: 82%; /* **85% scale of calc_body button font-size */
    height: 12.5%;
    width: 74%;
    position: relative;
    display: inline-block;
}
#clear_buttons button{
    height: 90%;
    width: 43%;
    background-color: #90AFC5; /* mist */
    color: #C8D7E2; /* mist 50% tint*/
    border-color: transparent;
}
#clear_buttons #last_clear{
    margin-left: 3%; /** *Creates space between the clear buttons */
}
/* Operator_buttons */
#operator_buttons{
    height: 75%;
    width: 24%;
    position: relative;
    float: right;
    /*clear: left;*/ /* To clear the clear_buttons */
    display: inline-block;
}
#operator_buttons button{
    height: 18%;
    width: 85%;
    margin: 2% 20% 2% 0; /** *Creates space between the buttons and calculator */
    background-color: #763626; /* autumn foliage */
    color: #C8D7E2; /* mist 50% tint*/
    border-color: transparent;
}
#operator_buttons #addition_symbol{
    height: 35%; /* **Too make it bigger than the rest of the operator buttons */
}
/* Numbers, decimal, equals buttons */
#num_decimal_equals_button{
    height: 62.5%;
    width: 75%;
    position: relative;
}
#num_decimal_equals_button button{
    height: 22%;
    width: 27%;
    color: #2A3132; /* shadow */
    border-color: transparent;
    background-color: #C8D7E2; /* mist 50% tint*/
    margin: 1%; /** *Space between the buttons*/
}